@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewBag.Title = "Shop our Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop our Store</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center well">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <a href="/store/albums?genre=@Html.DisplayFor(modelItem => item.Name)">
                <button class="btn btn-primary">Shop Now</button>
            </a>
        </div>
    }
</div>